<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :published do %><%= f.check_box :published %> Published<% end %>
  </div>
  <div class="field">
    <%= f.label :publish_timestamp do %>Publish Timestamp<% end %><br>
    <%= f.text_field :publish_timestamp %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => 'tinymce' %>
    <%= tinymce %>
  </div>
  <hr>
  <div class="field">
    <%= f.label :is_podcast do %><%= f.check_box :is_podcast %> Podcast<% end %>
  </div>
  <% if !@post.is_podcast %><p>Save post as a 'Podcast' (and unpublished) to add timeline events.</p><% end %>
  <div class="is-podcast-wrap<% if @post.is_podcast %> true<% end %>">
    <div class="field">
      <%= f.label :audio_file_url %><br>
      <%= f.text_field :audio_file_url, { disabled: (@post.is_podcast == true ? false : true) } %>
    </div>
    <div class="field">
      <%= f.label :episode_id do %>Episode ID<% end %><br>
      <%= f.number_field :episode_id, { disabled: (@post.is_podcast == true ? false : true) } %>
    </div>
    <div class="field">
      <%= f.label :show_notes_match_content do %><%= f.check_box :show_notes_match_content, { disabled: (@post.is_podcast == true ? false : true) } %>Use Content for Show Notes<% end %>
    </div>
    <div class="show-notes-match-content-wrap<% if @post.show_notes_match_content == false %> false<% end %>">
      <div class="field">
        <%= f.label :show_notes %><br>
        <%= f.text_area :show_notes, { class: 'tinymce', disabled: true } %>
      </div>
    </div>
  </div>
  <hr>
  <div class="actions">
    <button type="submit" class="button small">Save</button>
  </div>
<% end %>
<% if @post.id %>
<h3>Timeline Events</h3>
<% if @post.post_events.present? %>
<ul>
  <%= render :collection => @post.post_events, :partial => 'post_events/post_event' %>
</ul>
<% end %>
<h4>Add New</h4>
<audio id="audio-podcast-dummy" src="<%= @post.audio_file_url %>"></audio>
<script>
jQuery(document).ready(function($) {
  setTimeout(function() {
    calculateAudioLength($('#audio-podcast-dummy')[0], $('#insert-end-button'));
  }, 1000);
});
</script>
<%= form_for([@post, @post.post_events.build]) do |f| %>
  <div class="row">
    <div class="small-6 columns field">
      <%= f.label :time_start, 'Start Time' %><br>
      <button type="button" id="insert-beginning-button" class="tiny insert-time-button insert-beginning" title="Beginning (00:00:00)" data-time="00:00:00"><i class="fa fa-fw fa-step-backward"></i></button><% if @post_events_count > 0 %><button type="button" id="insert-last-end-button" class="tiny insert-time-button insert-last-end"  title="End of Last Event (<%= @last_post_event_time_end %>)" data-time="<%= @last_post_event_time_end %>"><i class="fa fa-fw fa-forward"></i></button><% end %>
      <%= f.text_field :time_start, :required => true, :placeholder => 'HH:MM:SS', :value => @post_events_count < 1 ? '00:00:00' : @last_post_event_time_end %>
    </div>
    <div class="small-6 columns field">
      <%= f.label :time_end, 'End Time' %><br>
      <button type="button" id="insert-end-button" class="tiny insert-time-button insert-end" title="End (00:00:00)" data-time="00:00:00"><i class="fa fa-fw fa-step-forward"></i></button>
      <%= f.text_field :time_end, :required => true, :placeholder => 'HH:MM:SS' %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns field">
      <%= f.label :content_type, 'Content Type' %><br>
      <%= f.select :content_type, post_event_content_types %>
    </div>
    <div class="small-6 columns field">
      <%= f.label :url, 'URL' %><br>
      <%= f.text_field :url %>
    </div>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <button type="submit" class="button">Save Event</button>
<% end %>
<% end %>
