<article>
  <h2><%= link_to post do %><% if post.is_podcast %>Episode #<%= post.episode_id %>: <% end %><%= post.title %><% end %></h2>
  <p><%= post.publish_timestamp.strftime("%B %e, %Y") %></p>
  <section>
    <% if post.is_podcast %>
    <audio controls src="<%= post.audio_file_url %>"></audio>
    <p><a href="<%= post.audio_file_url %>" target="_blank">Download Episode</a></p>
    <% end %>
    <%= post.content.html_safe %>
    <% if !post.show_notes_match_content and post.show_notes %>
    <hr>
    <%= post.show_notes.html_safe %>
    <% end %>
  </section>
</article>
