<!DOCTYPE html>
<html lang="en">
<head>
  <title>Podcastblog</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <link rel="alternate" type="application/rss+xml" title="<% sitename %> RSS Feed" href="<%= feed_path %>?format=rss">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="row">
  <div class="small-12 columns">
    <%= yield %>
  </div>
</div>

</body>
</html>
